{% extends "gameshop/generic.html" %}

{% block script %}
  {% load staticfiles %}
  <link rel="stylesheet" href="{% static 'css/authentication.css' %}">
{% endblock %}

{% block title %}G621 - Login{% endblock %}

{% block pageHeader %}
  <div class="page-header">
    <h2>Login</h2>
  </div>
{% endblock %}

{% block content %}
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button class="submit" type="submit">Login</button>
  </form>
  <p>
    <small>Don't have an account yet? <a href="/register/">Register a new account</a></small>
  </p>
{% endblock %}
