{% extends "gameshop/generic.html" %}

{% block script %}
  {% load staticfiles %}
  <link rel="stylesheet" href="{% static 'css/login_view.css' %}">
{% endblock %}

{% block title %}G621 - Login{% endblock %}

{%  block pageHeader %}
  <div class="page-header">
    <h1>
      Login
    </h1>
  </div>
{% endblock %}

{% block content %}
<form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Login</button>
    </form>
    <p>
        <small>Don't have an account yet? <a href="/register">Register a new account</a></small>
    </p>
{% endblock %}

