{% extends "../generic.html %}

{% block title%}G621 - Logout{% endblock %}

{% block script %}
  {% load staticfiles %}
  <script type="text/javascript" src="{% static 'gameshop/logout_page.js' %}"></script>
  <script src="{% static 'gameshop/lib/jquery-3.2.1.min.js' %}"></script>
{% endblock %}

{% block content %}
  <h2>Logout</h2>
  <p>
    <small>You have successfully logged out</small>
  </p>
  <p>
    <small>You will be re-directed to home in 3 seconds...</small>
    <ul>
      <a href="/">Home</a>
    </ul>
  </p>
{% endblock %}
