<div class="link-header">
  <div class="grid-container">
    <div class="grid-item1"><a href="/">Home</a></div>
    <div class="grid-item2"><a href="/shop">Browse games</a></div>
    <div class="grid-item3"><a href="/inventory">Inventory</a></div>
    {% if developer %}
      <div class="grid-item5"><a href="/studio">Studio</a></div>
    {% endif %}

    {% if profile %}
      <div class="grid-login">
        Welcome, {{ profile.user.username }} 
        <a href="/logout">Logout</a>
      </div>
    {% else %}
      <div class="grid-login">
        <a href="/login">Login</a>
      </div>
    {% endif %}
  </div>
</div>
