<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
    <script src="{% static "lib/jquery-3.2.1.min.js" %}" ></script>
    <script type="text/javascript">
        $(document).ready(function() {
            "use strict";
            // Only listens to events, doesn't do anything else for now.
            // Still needs django tags to execute python code for database entries
            var iframe = document.getElementById('game_frame')

            window.addEventListener("message", function(evt) {
                if(evt.data.messageType === "LOAD_REQUEST") {
                    // Load game here
                    console.log("LOAD")
                } else if(evt.data.messageType === "SAVE") {
                    // Saves game to db
                    console.log("SAVE")
                } else if(evt.data.messageType === "SCORE") {
                    // Saves score to highscores
                    console.log("SCORE")
                }
            });

            // simple function to post to iframe, doesn't really do anything yet
            var send_message = function(msg) {
                iframe.contentWindow.postMessage(msg, '*')
            }

        });
    </script>
    <title>Game page</title>
</head>

<div id="header">
  {% include "gameshop/header.html" %}
</div>
<div id="highscores">
    <h3>Highscores</h3>
        <p>Placeholder text, insert highscores here</p>
</div>
<body>
    <iframe id='game_frame' height="1000" width="1000" src="http://webcourse.cs.hut.fi/example_game.html"></iframe>
</body>
</html>
