{% extends "gameshop/generic.html" %}

{% block title %}G621 - Games{% endblock %}

{% block script %}
  {% load staticfiles %}
  <script type="text/javascript" src="{% static 'gameshop/games.js' %}"></script>
  <script type="text/javascript" src="{% static 'lib/jquery-3.2.1.min.js' %}"></script>
{% endblock %}

{% block content %}
  {% csrf_token %}
  <h4>Test</h4>
  <button type="button" id="show">press</button>
  <button type="button" id="money">I am not gay but 20$ is 20$</button>
  <p> Hello </p>
  {{profile.user}}
  {{profile.money}} €
  <div id="list">
    {% include "gameshop/inventory/game_list.html" %}
  </div>
{% endblock %}
