{% extends "gameshop/generic.html" %}

{% block title %}G621 - Game page{% endblock %}

{%  block pageHeader %}
  <div class="page-header">
  </div>
{% endblock %}

{% block script %}
  {% load staticfiles %}
  <script src="{% static 'lib/jquery-3.2.1.min.js' %}" ></script>
  <script src="{% static 'gameshop/gamescreen.js' %}"></script>
{% endblock %}

{% block content %}
  <p>This game page should be for the game {{ game.name }}</p>
  {% if hasGame %}
    <div id="highscores">
      <h3>Highscores</h3>
      <p>Placeholder text, insert highscores here</p>
    </div>
    <iframe id='game_frame' height="1000" width="1000" src="{{ game_url }}"></iframe>
  {% else %}
    <p>You haven't bought this game, so you don't have access to it</p>
  {% endif %}
{% endblock %}
