<!DOCTYPE html>
{% load staticfiles %}
<html>
  <head>
    <title>Home page</title>
    <!-- link rel="stylesheet" href="layout.css" /-->
    <meta charset="utf-8" />
  </head>
  <body>
  <div id="header">
    {% include "gameshop/header.html" %}
    {% include "gameshop/authentication/login_confirmation_header.html" %}
  </div>
  <div id="main">
    <p>Filler text for main, this is not important<p>
    <button type="button" onclick="showChocola()">Pet me!</button>
  </div>
  <img id="Chocola" src="{% static "gameshop/chocola.png" %}" style="display: none"; />
  <div id="footer">
    {% include "gameshop/footer.html" %}
  </div>
  <script type="text/javascript" src="{% static 'gameshop/home.js' %}"></script>
  </body>
</html>
