{% extends "gameshop/generic.html" %}

{% block title %}Home page{% endblock %}

{% block content %}
  {% load staticfiles %}
  {% include "gameshop/authentication/login_confirmation_header.html" %}
  <div id="main">
    <p>Filler text for main, this is not important<p>
    <button type="button" onclick="showChocola()">Pet me!</button>
  </div>
  <img id="Chocola" src="{% static "gameshop/chocola.png" %}" style="display: none"; />
  <script type="text/javascript" src="{% static 'gameshop/home.js' %}"></script>
{% endblock %}