{% extends "gameshop/inventory.html" %}

{%  block pageHeader %}
  <div class="page-header">
    <h1>
      {{ developer.studioname }}
    </h1>
  </div>
{% endblock %}


{% block viewToggle %}
  <div id="inventory_view_toggle">
    <a href="/inventory/user/">My Games</a>
  </div>
{% endblock %}

{% block inventory %}
  {% for game in user.profile.owned %}
    <div class="store-block">
    <h3>{{ game.name }}</h3>
    <p class="game-description">
      {{ game.description }}
    </p>
    <p>
      sales: {{ game.sales }}
    </p>
    </div>
  {% endfor %}
{% endblock %}