<h1>
  My games
</h1>
{% if user %}
  {% if userView %}
    <h2>
      Your games: {{ user.profile.games.count }}
    </h2>
    {% for game in user.profile.games %}
      <div id="gameblock">
        <h3>{{ game.name }}</h3>
        <p id="game_description">
          {{ game.description }}
        </p>
      </div>
    {% endfor %}
  {% else %}
    {% for game in user.profile.owned %}
      <div id="gameblock">
        <h3>{{ game.name }}</h3>
        <p id="game_description">
          {{ game.description }}
        </p>
        <p id="game_sales">
          sales: {{ game.sales }}
        </p>
      </div>
    {% endfor %}
  {% endif %}
{% else %}
  <p>Please log in!</p>
{% endif %}
