<h1>
  My games
</h1>
{% if user %}
  {% if userView %}
    <h2>
      Your games: {{ user.profile.games.count }}
    </h2>
    {% for game in user.profile.games.all %}
      <div id="gameblock">
        <h3>{{ game.name }}</h3>
        <p id="game_description">
          {{ game.description }}
        </p>
      </div>
    {% endfor %}
  {% else %}
    {% for game in user.profile.games.all %}
      {% if game.owned == False %}
        <div id="gameblock">
          <h3>{{ game.name }}</h3>
          <p id="game_description">
            {{ game.description }}
          </p>
          <p id="game_sales">
            {{ game.sales }}
          </p>
        </div>
      {% endif %}
    {% endfor %}
  {% endif %}
{% else %}
  <p>Please log in!</p>
{% endif %}
