{% extends "gameshop/inventory.html" %}

{% block pageHeader %}
  <div class="page-header">
    <h1>
      My games
    </h1>
  </div>
{% endblock %}

{% block viewToggle %}
  {% if developer %}
  <div class="inventory-view-toggle">
    <a href="/inventory/dev/">My Studio</a>
  </div>
  {% endif %}
{% endblock %}

{% block inventory %}
  <div id="inventory">
    {% for game in user.profile.games %}
      <div class="store-block">
        <h3>{{ game.name }}</h3>
        <p class="game-description">
          {{ game.description }}
        </p>
        <form action="/gamescreen/{{ game.id }}/">
          <input class="play-now-button" type="submit" value="Play now!" />
        </form>
      </div>
    {% endfor %}
  </div>
{% endblock %}
