:root {
    --bg: #01579B;
    --title-bg: #ff9400;
    --text: #80D8FF;
    --link: #FFEA00;
}

/* Headers */
.page-header {
    background-color: var(--title-bg);
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}

body {
    padding-top: 5px;
    padding-left: 20px;
}
