:root {
    --bg: #335E96;
    --title-bg: #262626;
    --header-bg: #6084B3;


    --text: #80D8FF;
    --link: #F1F739;/* #FFEA00;*/
    --head: #B86C42;

    --store-block-bg: #3E5573;
    --store-block-border: #FFFFFF;
    
    --disabled: #727984;
    --disabled-bg: #c7c8c9;
    
    --buy: #3a6041;
    --buy-bg: #06cc2d;

    --play-bg: #034da8;
}   

input, select, textarea, .submit{
    color: #21213d;
}

/* Headers */
.page-header {
    background-color: var(--title-bg);
    margin: 0;
    padding: 15px 15px 15px 20px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 40pt;
    font-weight: 900;
    margin-top: 10px;
    margin-bottom: 10px;
}

h2, h3, h4, h5, h6, h7 {
    color: var(--head);
    margin-top: 0;
}

.footer {
    color: var(--text);
    font-size: 10px;
    margin: 10;
}

.store-block {
    background-color: var(--store-block-bg);
    border: solid 1px var(--store-block-border);
    padding: 10px;
    margin: 5px;
    width: 32%;
    display: inline-table;
}

.play-now-button, .submit-game {
    background-color: var(--head);
    color: white;
    display: inline-block;
    text-decoration: none;
    padding: 8px 16px;
    border: solid 1px white;
}

.shop_buy {
    background-color: var(--title-bg);
    color: white;
    display: inline-block;
    text-decoration: none;
    padding: 8px 16px;
    border: solid 1px white;
}

a {
    color: var(--link);
}

form {
    color: var(--head);
}

body {
    background-color: var(--bg);
    padding: 0;
    color: var(--text);
}

.main {
    width: 70%;
}

.content {
    padding-left: 40px;
    color: var(--text);
}

.login_prompt {
    padding: 10px;
    margin: 5px;
    font-weight: bold;
}

.link-header {
    background-color: var(--header-bg);
    font-size: 15pt;
    padding: 10px;
    font-weight: bold;
}

.grid-container {
    display: inline-grid;
    grid-template-areas:
        "item1 item2 item3 item4 item5"
        "login login login login login";
    grid-column-gap: 20px;
}

#game_name {
    font-weight: bold;
}

.shop_buy_disabled {
    text-align: center;
    color: var(--disabled);
    background-color: var(--disabled-bg);
    width: 100px;
    border-radius: 4px;
    padding-bottom: 4px;
}

.shop_buy {
    display: inline-block;
    text-decoration: none;
    text-align: center;
    color: var(--buy);
    background-color: var(--buy-bg);
    width: 100px;
    border-radius: 8px;
    padding-top: 0px;
    padding-bottom: 4px;
    border: solid 1px white;
}

.play-now-button {
    background-color: var(--play-bg);
    color: white;
    display: inline-block;
    text-decoration: none;
    padding-top: 0px;
    padding-bottom: 4px;
    border: solid 1px white;
    border-radius: 12px;
    width:110px;
}

.field_help_text {
    /*color: var(--head);*/
    font-size: 10pt;
}
